<div class="contact-item">
    <div class="contact-details">
        <span class="numcont">Contacto Nº {{index() +1}}</span>
        <span class="name">{{contacto().firstName}}</span>
        <span class="name">{{contacto().lastName}}</span>
        @if(contacto().isFavorite){
            <span class="favorite-icon">⭐</span>
        }
    </div>
    
    <div class="contact-actions">
        <a [routerLink]="['/contacts',contacto().id]">Ver Contacto</a>
        <button (click)="showDeleteContact()">Eliminar</button>
    </div>
</div>