.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: 0.3s;
}

.contact-item:hover {
  border-color: var(--color-dorado);
  box-shadow: 0 2px 8px var(--color-dorado);
  transform: translateY(-0.3px);
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-details .numcont {
  font-size: 14px;
  color: var(--color-text-light);
}

.contact-details .name {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-background);
}

.contact-details .favorite-icon {
  font-size: 18px;
}

.contact-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-actions a, 
.contact-actions button {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid ;
  cursor: pointer;
  transition:350ms ;
}

.contact-actions a {
  color: var(--color-dorado);
  background-color: #fff;
  border-color: var(--color-dorado);
}

.contact-actions a:hover {
  background-color: var(--color-dorado);
  color: #fff;
}

.contact-actions button {
  color: var(--color-danger);
  background-color: #fff;
  border-color: var(--color-danger);
}

.contact-actions button:hover {
  background-color: var(--color-danger);
  color: #fff;
}
