<div class="contact-detail-container">
        @if(cargandoContacto){
        <p class="loading-message">Cargando contacto...</p>
        }
        @else if(!contacto) {
        <p class="loading-message">No se encontró el contacto</p>
        }
        @else
        {
        <div class="foto">
        @if (contacto.image) {
            <img src="{{contacto.image}}" alt="">}
        </div>
        <h1>{{contacto!.firstName}} {{contacto!.lastName}}</h1>
        <p>Email: <span>{{contacto.email}}</span></p>
        <p>Teléfono: <span>{{contacto.number}}</span></p>
        <p>Direccion: <span>{{contacto.address}}</span></p>
        <p>Empresa: <span>{{contacto.company}}</span></p>

    <div class="contact-actions">
        @if (contacto.isFavorite) {
        <button class="btn-desf" (click)="toggleFavorite()">⭐ Desmarcar favorito</button>
        } @else {
        <button class="btn-fav" (click)="toggleFavorite()">Marcar como favorito</button>
        }
        <a class="btn-edit" [routerLink]="['/contacts',idContacto(),'edit']">Editar</a>
        <button class="btn-danger" (click)="deleteContact()">Eliminar</button>
    </div>
    }
</div>