.page {
  margin: 95px auto 40px auto; /* Margen superior para la nav, centrado horizontal, margen inferior */
  width: 700px; /* Ancho responsive */
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 3px 12px var(--color-dorado);
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 150px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.link {
  padding: 10px 15px;
  border: 2px solid var(--color-dorado);
  background-color: var(--color-dorado);
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  transition: 350ms;

}

.link:hover {
  background-color: #ffffff;
  color: var(--color-dorado);
}

.list {
  padding: 0 20px 20px 20px;
  overflow-y: auto; 
}

.empty {
  text-align: center;
  padding: 30px 20px;
  font-size: 16px;
}

.empty a {
  color: var(--color-dorado);
  font-weight: 700;
  text-decoration: none;
}

.empty a:hover {
    text-decoration: underline;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin-block: 5px;
}

.list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}