<div class="loginform">
    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"/></svg>
</div>
    <h1>LOGIN</h1>
    <form #loginForm ="ngForm" (ngSubmit) = "login(loginForm)">

        <label for="email">Correo electrónico</label>
        <input id="email" name="email" type="email" id="email" ngModel #email="ngModel" required="true" autocomplete="email">
        @if (email.invalid && !email.pristine) {
        <p class="error">Debe colocar un correo electrónico.</p>}
        
        <label for="password">Contraseña</label>
        <input id="password" name="password" type="password" ngModel #password="ngModel" required="true" minlength="4"autocomplete="current-password">
        @if (password.invalid && !password.pristine) {
        <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>}
            
        <button [disabled]="loginForm.invalid">Iniciar sesión</button>
        @if (errorLogin) {
        <p class="error">Datos de sesión incorrectos, intente nuevamente.</p>}
            
        <p>No tenés cuenta? <a routerLink="/register">Registrate</a></p>
    </form>
</div>